.git/
.gitignore

# Python caches
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual envs
.venv/
venv/

# Notebooks / local stuff
.notebooks/

data/
artifacts/
logs/

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/