name: CI

on:
  push:
    branches:
      - main
  
  pull_request:
    branches:
      - main  
jobs:
  test:
    name: Run tests(Python ${{ matrix.python-version }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11", "3.12"]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"
      
      - name: Install dependecies
        run: |
          python -m pip install --upgrade pip
          pip install -r requiremetns.txt

      - name: Run unit tests
        run: pytest -v tests/unit 

      - name: Run integration tests
        run: pytest -v tests/integration